/* Load Fonts */
@font-face{
  font-family: 'Pixel';
  src: url('./assets/fonts/NeuePixelGrotesk.ttf') format('truetype');
}
@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

:root{
  --dark: #000000;
  --pink: #C8006A;
  --white: #f4f4f4;
  --grey: #969696;
  --dark-grey: #3F3F3F;
}
::selection {
  background: var(--pink);

  color: var(--dark);
}

/* Universal Elements */
*{
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  font-size: 16px;
}

body {
  overflow-x:hidden;
  background-color: var(--dark);
}

a{
  text-decoration: none;
}
a:hover{
  cursor:pointer;
}
h1, h2, h3, h4, p > span{
  font-family: 'Pixel';
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 2.25rem;

}
h3{
  font-size: 1.5rem;
}
h4, p > span{
  font-size: 1rem;
}

p{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 1rem;
  color: var(--white);
}

.dark{
  color: var(--dark);
}

h1.alt, h3.alt, h4.alt{
  color: var(--pink);
}

p.alt{
  color: var(--pink);
  font-weight: 400;
}

.arrow-up{
  transform: rotate(90deg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 0;
  height: 2rem;
}
.arrow-up:hover{
  cursor: pointer;
}
.border-box{
  border: 1px solid var(--pink);
  padding-right: 1rem;
}

div.border-box{
  margin-top: 1rem;
  margin-left: 0rem;
  padding: 0.5rem;
  align-items: center;
  padding-right: 1rem;
}
div.border-box:hover{
  cursor: pointer;
  background-color: var(--pink);
}
div.border-box:hover > h3{
  color: var(--white);
}

div.border-box.white:hover{
  background-color: var(--white);
}
div.border-box.white:hover > h3{
  color: var(--pink);
}


/*Helpers*/
.right-align{
  margin-left: auto;
  margin-right: 0;
  right: 0px;
  top: 0px;
}
.abs{
  position:absolute;
  z-index: 1;
}
.alt{
  color: var(--pink);
}

.center{
  justify-content: center;
  align-items: center;
}

.right-align{
  display: inline-flex;
  margin-left: auto;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}
.col{
  flex-direction: column;
}
.row{
  flex-direction: row;
}

.show{
  display: block;
}

.hide{
  display: none;
}

/* General Containers */

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.container{
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
}
.mini-container{
  height: 40vh;
  min-height: 40vh;
  max-height: 40vh;
  border-top: 1px solid var(--dark-grey);
}
.content{
  padding-left: 8rem;

}

/* Components */
.square-image{
  z-index: -1;
  object-fit: cover;
  height: 50%;
  width: 50%;

}

.gradient-right{
  overflow: hidden;
  position: absolute;
  width: 35vw;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.gradient-left{
  overflow: hidden;
  position: absolute;
  width: 35vw;
  height: 100%;
  pointer-events: none;
  right: 0px;
  top: 0px;
  background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* Button */
.button{
  display: inline-flex;
  padding: 1rem;
  border: 1px solid;
  background-color: var(--dark);
  border-color: var(--pink);
  margin-top: 1rem;
  margin-right: 1rem;
  pointer-events: auto;
}
.button:hover{
  cursor: pointer;
  background-color: var(--pink);
}
.button:hover > h4{
  color: var(--white);
}


/* GRID */

.black{
  background-color: var(--dark);
}
.pink{
  transition-delay: 0.2s;
  background-color: var(--pink);
}

.grid-item{
  transition-delay: 0.25s;

  border: 1px solid;
  border-color: #3c0020;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1rem;
  max-height: 1rem;

}
.grid-item:hover{
  transition-delay: 0s;
  background-color: var(--pink);
}

/* FOOTER */
footer{
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: var(--dark);

}
.footer-pair:nth-of-type(n+2){
  margin-left: 10rem;
}

.footer-item:hover{
  cursor: pointer;
  background-color: var(--pink);
}
.footer-item:hover > .footer-indicator{
  background-color: var(--pink);
}

.footer-item:hover > .footer-indicator > h3{
  color: var(--white);
}

.footer-item{
  display: flex;
  flex-direction: row;
  margin-left: 8rem;
}

.footer-indicator{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  background-color: var(--white);
  max-height: 1.5rem;
  height: 1.5rem;
  min-width: 2.5rem;
}

.footer-text{
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

/* SIDEBAR */
.sidebar-container{
  display: inline-flex;
  position: fixed;
  height: 80%;
  border-right: var(--pink) solid 1px;
  padding: 3rem;
  margin-left: 2rem;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar-container::-webkit-scrollbar{
  display: none;
}

.close-sidebar{
  color: var(--pink);
  display: inline-flex;
  padding: 0.5rem;
}
.close-sidebar:hover{
  cursor: pointer;
  color: var(--white);
}

.dropdown{
  display: flex;
  align-items: center;
  border: 1px solid var(--pink);
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  background-color: var(--dark);
  margin-top: 1rem;
}
.dropdown > .arrow-up{
  margin-left: auto;
}

li > h4{
  color: var(--pink);
}
.dropdown-item{
  display: inline-flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

a.dropdown-item:hover > h4, a.dropdown-item:hover > p{
  color: var(--pink);
}

.dropdown-item.alt:hover > h4, .dropdown-item.alt:hover > p{
  color: var(--white);
}
.dropdown-item.alt > h4, .dropdown-item.alt > p{
  color: var(--pink);
}
.dropdown-item > p{
  width: 13rem;
  max-width: 15rem;
}

#pro-drop:hover{
  cursor: pointer;
  background-color: var(--pink);
}
#pro-drop:hover > h4, #pro-drop:hover > .arrow-up{
  color: var(--white);
}

#hobby-drop:hover{
  cursor: pointer;
  background-color: var(--white);
}
#hobby-drop:hover > h4, #hobby-drop:hover > .arrow-up, #pro-menu > div > h4, #pro-menu > div > p{
  color: var(--pink);

}

.indicator{
  width: 0.25rem;
  height: 0.25rem;
  max-width: 0.25rem;
  max-height: 0.25rem;
  min-width: 0.25rem;
  min-height: 0.25rem;
  border: 0.2rem solid var(--pink);
  transform: rotate(45deg);
  margin-left: 1rem;
  margin-top: 0.2rem;
  display: none;
}

/* Milestones */
.milestone-container{
  border: 1px solid var(--pink);
  padding: 0rem 2rem 3rem 2rem;
  width: 35%;
}


.milestone-desc-container{
  border: 1px dashed var(--pink);
  border-top-style: none;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 1rem;
}

.sla-container{
  border: 1px dashed var(--pink);
  padding: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  max-width: 50%;
}
.white{
  border-color: var(--grey);
}

.milestone-other{
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: var(--grey);
}

.milestone-description{
  font-weight: 200;
  margin-top: 0.5rem;
}

.reward-cost > div{
  width: 50%;
}

.tasks-container{
  width: 40%;
}

.milestone-container > div:hover > .arrow-up{
  color: var(--white);
}

h1.white, h2.white, h3.white, h4.white{
  color: var(--white);
}
